@import '/src/assets/styles/variables';
@import '/src/assets/styles/mixin';

.list {
  background: $background-dark;
  min-height: 100vh;

  &__body {
    display: flex;
    justify-content: space-evenly;
    @include responsive(800px) {
      flex-direction: column;
    }
  }
  &__loadMoreBtn {
    width: 100%;
    height: 50px;
    text-transform: uppercase;
    background: $primary-color;
    color: $white;
    border: none;
    @include responsive(800px) {
      width: 90vw;
      margin: 0 auto;
    }
  }
}
