@import '/src/assets/styles/variables';
@import '/src/assets/styles/mixin';

.transfers {
  background: $white;
  color: $black;
  width: 30vw;
  height: fit-content;
  @include responsive(800px) {
    width: 90vw;
    margin: 5vh auto;
  }
  @include responsive(400px) {
    width: 100vw;
  }
  &__form {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  &__title {
    text-transform: uppercase;
    padding: 1rem;
    font-weight: bold;
  }
}
