@import '/src/assets/styles/variables';

.transfers {
  background: $white;
  color: $black;
  width: 30vw;
  height: fit-content;

  &__form {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  &__title {
    text-transform: uppercase;
    padding: 1rem;
    font-weight: bold;
  }
}
