@import '/src/assets/styles/variables';
@import '/src/assets/styles/mixin';

.options {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
  cursor: pointer;
  border: 1px solid $border-color;
  @include responsive(800px) {
    width: 90vw;
    margin: 5vh auto;
  }
  @include responsive(400px) {
    width: calc(100vw - 5px);
    margin: 5vh auto;
  }
}
