$white: #fff;
$black: #000;

$background-light: #f1fcff;
$background-dark: #f3f7fa;
$primary-color: #2196f3;
$text-color: #4a4a4a;
$secondary-text-color: #a0b0b9;
$border-color: #dfe5ec;
$box-shadow-color: #0000001a;


$font-bold: 600;